<!DOCTYPE html>
<html lang=en>
  <head>
    <title>Pectogram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">

    <link href="/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <header>
        <div class='flex items-center'>
          <img alt="A small icon of a red symbolic apple." src='favicon.png' class='size-7 block mr-2'>
          <h1 class='block'><a href='/'>Pectogram</a></h1>
        </div>
        <div class='options'>
          {% if loggedIn %}
            <a href='/profile'>Profile</a> <a href='/logout'>Log Out</a>
          {% else %}
            <a href='/signup'>Sign Up</a> <a href='/login'>Log in</a>
          {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
  </body>
</html>